<!DOCTYPE html>
<html>
<head>
  <title>Update Teacher</title>
</head>
<body>
<%- include('partials/header', { title: 'Teacher Management System' }) %>
<section>
  <h1 class="mainheading">Update Teacher detail (<%= result.id %>) </h1>
  
  <form class="formpart" action="/teachers/update-submit/<%= id %>" method="post">
    <div>
        <label>Fullname:</label>
        <input 
            type="text" 
            name="fullname" 
             value="<%= result.fullname %>"
            required 
            pattern="^[A-Za-z\s]{2,25}$" 
            title="Name should be 2-25 letters only."
        />
    </div>
    <div>
        <label>Mobile:</label>
        <input 
            type="text" 
            name="mobile" 
            value="<%= result.mobile %>"
            required
            pattern="^[6-9]\d{9}$" 
            title="Enter a valid 10-digit Indian mobile number starting with 6-9."
        />
    </div>
    <div>
        <label>Email:</label>
        <input 
            type="email" 
            name="email" 
            value="<%= result.email %>"
            required 
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
            title="Enter a valid email address."
        />
    </div>
    <div>
      <button type="submit">Update</button>
    </div>
  </form>
</section>
<%- include('partials/footer', { title: 'Teacher Management System' }) %>
</body>
</html>
