<!DOCTYPE html>
<html>
<head>
  <title>Update Teacher</title>
</head>
<body>
<%- include('partials/header') %>
<section class="sectionmin">
  <h1 class="mainheading">Update detail (<%= id %>) </h1>
  
  <form class="formpart" action="/teachers/update/<%= id %>" method="post">
    <% if (error) { %>
      <aside><%= error %></aside>
    <% } %>
    <div>
        <label>Fullname:</label>
        <input 
            type="text" 
            name="fullname" 
             value="<%= result.fullname || '' %>"
        />
    </div>
    <div>
        <label>Mobile:</label>
        <input 
            type="text" 
            name="mobile" 
            value="<%= result.mobile || '' %>"
        />
    </div>
    <div>
        <label>Email:</label>
        <input 
            type="text" 
            name="email" 
            value="<%= result.email || '' %>"
        />
    </div>
    <div>
      <button type="submit">Update</button>
    </div>
  </form>
</section>
<%- include('partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
